/*==============================*\
RESET AND GENERAL PAGE STYLES
\*==============================*/

*, *:before, *:after, body, h1, h2, h3, h4, p, ul, ol, input, form, li, a, div, aside, article, img, footer, section { margin: 0; padding: 0; border: 0; box-sizing: border-box;}

html { height: 100%, width: 100%; }

body { position: relative;  }
/* ---- establish the base font size for the body ---- */

h1, h2, h3, h4, h5, li, a, dl, dt, dd, i {
	font: 300 16px/16px Lato;
}

li { list-style: none; }

a { text-decoration: none; color: #757575;}

/*==================================\
GRID COL CONTAINER WIDTHS
\*=================================*/

.row { display: block; width: 100%; }

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25.00%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50.00%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75.00%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }

/*==================================\
CLEAR FIX 
\*=================================*/

.cf:before, .cf:after { content: " "; display: table; }

.cf:after { clear: both; }

.cf { zoom: 1; }

/*==============================*\
BACKGROUND CONTAINERS
\*==============================*/

.bg { width: 100%; z-index: -1; position: absolute; }

.bg-nav { width: 100%; z-index: 100; position: fixed; }

.bg-1 {
	background-color: #2d3e50;
	height: 44px;
}

.bg-2 {
	background: #fff;
	top: 44px;
	height: 120px;
	box-shadow: 1px 2px 3px rgba(85, 85, 85, 0.49);
}

.bg-hero {
	background: url(img/city.jpg);
	height: 850px;
	top: 164px;
}

.bg-hero .hero-overlay {
	background: linear-gradient(to bottom, rgba(0,0,0,.1) 30%, rgba(64, 58, 75, 0.2) 46%, rgba(0, 0, 0, 0.3) 100%);
	top: 0;
	height: 850px;
	z-index: 0;
}

.bg-3 {
	background-color: #ececec;
	height: 897px;
	top: 1014px;
}

.bg-4 {
	background-color: #e64054;
	height: 1510px;
	top: 2556px;
}

.bg-5 {
	background-color: #1e1a1b;
	height: 487px;
	position: absolute; 
	top: 4954px;
}

.bg-6 {
	background-color: #000;
	height: 118px;
	position: absolute; 
	top: 5441px;
}

/*==============================*\
CHANGABLE ELEMENTS STATES
\*==============================*/

.show-lang {
	color: #fff;
	background-color: #1e1a1b;
	position: fixed;
	top: -244px;
	left: 25%;
	transition: all .8s ease-in-out;
	width: 120px;
	z-index: 108;
}

.show-lang li {
	line-height: 2em;
	padding: 4px 6px 4px 10px;
}

.show-lang li:hover {
	background-color: red;
	transition: background-color .6s;
}

.container-main label {
	color: #fff;
	padding-left: 25px;
	position: relative;
	top: 12px;
	z-index: 120;
}

#menu-toggle {
	visibility: hidden;
}

#menu-toggle:checked + .show-lang {
	position: fixed;
	top: 44px;
}


/*==============================*\
CONTAINER MAIN BODY
\*==============================*/

.container-main {
	width: 1196px; 
	margin: 0 auto; 
	padding: 0 1em;
	position: relative;
}


/*==============================*\
BG-1 UL CONTENT
\*==============================*/

.bg-1-navbar {
	background-color: #2d3e50;
	position: fixed;
	top: 0;
	width: inherit;
	z-index: 110;
}
/*----- em unit is 16px ----*/

.phone,
.social {
	color: #fff;
	line-height: 2.75em;
	position: relative;
}

.phone,
.social li {
	display: inline-block;
}

.phone { float: left; }

.phone i { vertical-align: middle; }

.social { float: right; }

.social .fa-search {
	position: absolute;
	left: .375em;
	transform: translateY(50%);
}

.social input {
	background-color: transparent;
	border: 1px solid #fff;
	padding: .25em 0 .25em 1.875em;
}

.social i:not(.fa-search) {
	height: 1.6875em;
	line-height: 1.6875em;
	margin: .125em;
	text-align: center;
	vertical-align: middle;
	width: 1.5em;
}

/*==============================*\
HEADER PRIMARY PAGE NAVIGATION
\*==============================*/

/*====== MARCO POLO LOGO & PRIMARY NAV ========*/

.site-nav {
	height: 7.5em;
	position: fixed;
	top: 2.75em;
	width: inherit;
	z-index: 100;
}

.site-nav h1,
.site-nav nav {
	line-height: 120px;
	text-align: right;
}

.site-nav h1 {
	color: #3c4c5d;
	float: left;
	font-size: 2.4em;
/*--- 16 * 2.4em = 38.4px --> all children inherit this value */
	font-weight: 300;
	letter-spacing: -.1em;
	text-transform: uppercase;
}

.site-nav h1:first-letter {
	border: .1302em solid #3c4c5d;
/*--- inherits directly from its h1 parent	*/
	border-radius: 50%;
	font-weight: 900;
	padding: 0 .3125em 0 .15625em;
	margin: 0 .052em;
}

.site-nav p {
	left: 5.0781em;
	letter-spacing: .02em;
	font-size: .8em;
/*--- 1. defines the font-size of p element based of its parent; result is 12.8px 	*/
	position: absolute;
	top: 6.0937em;
/*--- 2. then uses its font-size as the BASE em unit of measure  ---*/
}

.site-nav span { font-weight: 700; }

.site-nav li { display: inline-block; }

.site-nav a { color: #757575;	padding: .5em 1.5em; }
/*--- uses the site-nav BASE font-size; since its undefined, the root unit of 16px is used as the BASE ---*/

/*==============================*\
HERO 
\*==============================*/

.hero { height: 63.375em; position: relative; }
/*--- height of HERO container is 850px. However requires 164px of additional space to account for the fixed nav containers */

.hero-description {
	color: #fff;
	float: right;
	font-weight: 400;
	padding-top: 45%;
	text-transform: capitalize;
	width: 45%;
}

.hero-description p {
	font-size: 2.1em;
  /*--- this defines this element to a BASE font size of 33.6px ---*/
	line-height: 1.3em;
  /*--- converts to 44.68px	*/
	padding-bottom: 1em;
}

.hero-description button {
	background: transparent;
	border: .125em solid #fff;
	border-radius: .3125em;
	height: 3.75em;
	margin: .5em;
	width: 13.125em;
}

.hero > p {
	bottom: .8928em;
	color: #fff;
	font-size: 2.1em;
	/*--- this defines this element to a BASE font size of 33.6px ---*/
	position: absolute;
	text-align: center;
	width: 100%;
}

.hero i {
	border: .119em solid #fff;
	border-radius: 50%;
	margin: 0 .1785em;
	padding: .1785em .3571em;
}

/*==============================*\
ARTICLE GENERAL STYLES
\*==============================*/

.article-main h2 {
	font-size: 2.4em;
  /*-- DEFINES ALL H2 ELEMENTS TO HAVE A BASE PIXEL MEASURE OF 38.4 ---*/
	font-weight: 400;
	padding-top: 2.60em;
	padding-bottom: 1.3177em;
	text-transform: capitalize;
}

.article-main h3 {
	font-size: 1.4em;
	line-height: 1.5em;
	padding-bottom: 1em;
	text-transform: capitalize;
}

.article-main p { font-size: 1.375em;}

.article-subheading { margin: 1.1em auto 0; }
/*--- This is defining the BASE font-size of ALL p elements WITHIN ATRICLE is 22 px*/

.article-main hr {
	border-top: .1875em solid rgba(117, 117, 117, 0.3);
	display: inline-block;
	vertical-align: middle;
	width: 15%;
}


/*==============================*\
SECTION - OUR SERVICES
\*==============================*/

.our-services {
	height: 56.0625em;
	text-align: center;
}

.our-services li > i {
	border: 3px solid red;
	line-height: 1.40625em;
	margin: .75em;
	width: 1.40625em;
}

.our-services li > p { 
	font-size: .9em; 
	line-height: 1.4em; 
}

.our-services li {
	display: inline-block;
	float: left;
	padding: 1.5em;
	width: 25%;
}

.our-services li > hr {
	margin: 0 auto 1.375em;
	border: 3px solid red;
}

/*==============================*\
SECTION - FEATURED WORK 
\*==============================*/

.featured-work {
	height: 40.3125em;
	position: relative;
	text-align: center;
}

.featured-work p {
	width: 80%;
	line-height: 1.75em;
}

.featured-work li { display: inline-block; }

.fwork {
	height: 15.625em;
	position: absolute;
	top: 138em;
}

.fwork li {
	background-size: cover;
	display: inline-block;
	height: 15.625em;
	float: left;
	max-height: 18.75em;
	width: 20%;
}

.fwork-1 { background: url(../img/Marco-Polo_02.png) center center no-repeat; }
.fwork-2 { background: url(../img/Marco-Polo_03.png) center center no-repeat; }
.fwork-3 { background: url(../img/Marco-Polo_04.png) center center no-repeat; }
.fwork-4 { background: url(../img/Marco-Polo_05.png) center center no-repeat; }
.fwork-5 { background: url(../img/Marco-Polo_06.png) center center no-repeat; }

.volumebar { position: relative; left: 1.25em;}

.featured-work input {
	background-color: #757575;
	border-radius: 1.875em;
	position: relative;
	top: 18.4375em;
	width: 14.375em;
	vertical-align: middle;
	box-shadow: inset 2px 6px 8px #000;
}

.featured-work button {
	background: #e64054;
	border-radius: 50%;
	border: .25em solid #3c4c5d;
	position: relative;
	width: 2em;
	height: 2em;
	top: 18.4375em;
	left: -11.25em;
	vertical-align: middle;
}


/*==============================*\
SECTION - ABOUT US
\*==============================*/

.about-us {
	color: #fff;
	height: 56.25em;
	text-align: center;
}

.about-us i { vertical-align: middle; }

.about-us hr { border-color: #fff; }

.about-us p { letter-spacing: .05em; }

.about-us video {
	box-shadow: 5px 8px 12px rgba(36, 36, 36, 0.44);
	height: 34.375em;
	margin-top: 2.5em;
	object-fit: fill;
	width: 80%;
}

/*==============================*\
RESET AND STYLES
\*==============================*/

.team {
	color: #fff;
	height: 38.125em;
	text-align: center;
}

.team h2 { padding-top: 0; }

.team hr { border-color: #fff; }

.team > p {
	line-height: 1.375em;
	padding-bottom: 1.63em;
  /*	inherits from p element of article | 1.375em  */
	width: 72%;
}

.team-avatar-profile { 
	float: right;
	width: 100%; 
	height: 285px;
}

.team-avatar-profile li,
.team-avatar-description li {
	border: 16px solid transparent;
	display: block;
	float: left;
	height: inherit;
	width: 25%;
}

.team-avatar-1 { 
	background: url(../img/team-avatar-1.png) center center no-repeat; 
	background-size: cover; 
}

.team-avatar-2 { 
	background: url(../img/team-avatar-2.png) center center no-repeat; 
	background-size: cover; 
}

.team-avatar-3 { 
	background: url(../img/team-avatar-3.png) center center no-repeat; 
	background-size: cover; 
}

.team-avatar-4 { 
	background: url(../img/team-avatar-4.png) center center no-repeat; 
	background-size: cover; 
}

.team-avatar-description h3 { font-size: 1.5em; padding-bottom: 0;}

.team-avatar-description p { font-size: 1em; }


/*==============================*\
SECTION - BLOG
\*==============================*/

.blog { height: 55.3125em; text-align: center; }

.blog h2 { padding-top: 1.5625em; }
/*-- Begins with a starting font-size of 38.4 px | defined in article-main ---*/

.blog-description hr { border-color: #f00; }

.blog-description { 
	height: 41.75em;
	margin-top: 1.625em;
	text-align: left; 
}

.blog-description li {
	display: block;
	float: left;
	width: 33.33%;
}

.blog-description img { max-height: 25em; }

.blog-description h3 {
	padding: .75em 0; 
	text-transform: capitalize;
}

.blog-description p {
	font-size: 1em;
	line-height: 1.25em;
	margin: .25em 0;
	padding: 0 .5em .5em 0;
}

.blog-description dl { 
	float: left;
	width: 50%; 
}

.blog-description dt,
.blog-description dd {
	line-height: 1.25em;
}

.blog-description button {
	background: red;
	color: #fff;
	float: right;
	height: 3.125em;
	margin-top: .5em;
	margin-right: 1.3125em;
	text-transform: capitalize;
	width: 10.5em;
}

/*==============================*\
SECTION - INFO
\*==============================*/

/*========INFO-CONTACT==========*/

.info {
	color: #fff;
	height: 30.4375em;
}

.info section {
	float: left;
	width: 25%;
}

.info h2 {
	font-size: 1.625em;
	padding-top: 2.07em;
}

.info-contact > i {
	background: #292b2e;
	border-radius: 50%;
	line-height: 2.75em;
	margin: 0 .3125em 1em;
	text-align: center;
	width: 2.75em;
	height: 2.75em;
}

.info-contact p > i { 
	color: red; 
	padding: .25em .75em; 
}

.info-contact p { 
	font-size: 1em;
}

.info-contact iframe {
	margin-top: 2.75em;
	width: 90%;
}

/*========INFO-TWEETS==========*/

.info-tweets p {
	line-height: 1.3em;
	font-size: .9em;
	margin: 0 0 1.02em;
	padding: 0 1.66em 0 0 ;
}

.info-tweets span {
	color: #757575;
}

/*========INFO-POSTS ==========*/

.info-posts li {
	float: left;
	height: 5.625em;
	margin-bottom: 1.4em;
	width: 5.625em;
}

.info-posts li:nth-child(2n) {
	width: 65%;
}

.info-posts p {	
	margin: 0 0 .75em 0;
	padding: 0 .5em;
	line-height: 1.4em;
	font-size: .9rem;
	width: 100%;
}

.info-posts p > span {
	float: left;
	margin: 0 .75em 0 0;
}

.info-posts span > i {
	color: red;
}

.post-avatar-1 {
	background: url(../img/post-avatar-1.png) center center no-repeat;
	background-size: cover;
}

.post-avatar-2 {
	background: url(../img/post-avatar-2.png) center center no-repeat;
	background-size: cover;
}

.post-avatar-3 {
	background: url(../img/post-avatar-3.png) center center no-repeat;
	background-size: cover;
}


/*========INFO-POST ==========*/

.in-touch textarea,
.in-touch input {
	background: #292b2e;
	margin-bottom: .625em;
	padding: .5em;
	width: 16.875em;
}

.in-touch textarea {
	height: 10.625em;
}

.in-touch button {
	background: #f00;
	height: 2.5em;
	width: 16.875em;
}

/*==============================*\
SECTION - FOOTER 
\*==============================*/

.footer {
	color: #fff;
	text-transform: capitalize;
	width: 100%;
}

.footer p, 
.footer li {
	display: inline-block;
	line-height: 118px;
}

.footer ul { 
	float: right; 
}

.footer a {  
	color: #fff; 
	padding: 0 .75em; 
	border-right: 1px solid #fff; }

.footer .last { 
	border-right: none; 
}

