/*==============================*\
RESET AND GENERAL PAGE STYLES
\*==============================*/

*, *:before, *:after, body, h1, h2, h3, h4, p, ul, ol, input, form, li, a, div, aside, article, img, footer, section { margin: 0; padding: 0; border: 0; box-sizing: border-box;}

html { height: 100%, width: 100%; }

body { position: relative; font: 400 16px/16px Lato; }

li { list-style: none; }

a { text-decoration: none; color: #757575;}

/*==================================\
GRID COL CONTAINER WIDTHS
\*=================================*/

.row { display: block; width: 100%; }

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25.00%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50.00%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75.00%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }

/*==================================\
CLEAR FIX 
\*=================================*/

.cf:before, .cf:after { content: " "; display: table; }

.cf:after { clear: both; }

.cf { zoom: 1; }

/*==============================*\
BACKGROUND CONTAINERS
\*==============================*/

.bg { width: 100%; z-index: -1; position: absolute; }

.bg-nav { width: 100%; z-index: 100; position: fixed; }

.bg-1 {
	background-color: #2d3e50;
	height: 44px;
}

.bg-2 {
	background: #fff;
	top: 44px;
	height: 120px;
	box-shadow: 1px 2px 3px rgba(85, 85, 85, 0.49);
}

.bg-hero {
	background: url(img/city.jpg);
	height: 850px;
	top: 164px;
}

.bg-hero .hero-overlay {
	background: linear-gradient(to bottom, rgba(0,0,0,.1) 30%, rgba(64, 58, 75, 0.2) 46%, rgba(0, 0, 0, 0.3) 100%);
	top: 0;
	height: 850px;
	z-index: 0;
}

.bg-3 {
	background-color: #ececec;
	height: 897px;
	top: 1014px;
	border: 1px solid red;
}

.bg-4 {
	background-color: #e64054;
	height: 1510px;
	top: 2556px;
	border: 1px solid red;
}

.bg-5 {
	background-color: #1e1a1b;
	height: 487px;
	position: absolute; 
	top: 4954px;
}

.bg-6 {
	background-color: #000;
	height: 118px;
	position: absolute; 
	top: 5441px;
}


/*==============================*\
CONTAINER MAIN BODY
\*==============================*/

.container-main { 
	width: 1196px; 
	margin: 0 auto; 
	padding: 0 1em; 
	border: 1px solid red; 
}


/*==============================*\
BG-1 UL CONTENT
\*==============================*/

.bg-1-navbar {
	position: fixed;
	width: inherit;
	z-index: 110;
}

.phone,
.social {
	color: #fff;
	line-height: 44px;
	position: relative;
}

.phone li,
.social li {
	display: inline-block;
}

.phone { float: left; }

.phone i { vertical-align: middle; }

.phone li { padding-right: 24px; }

.social { float: right; }

.social .fa-search {
	position: absolute;
	left: 6px;
	transform: translateY(85%);
}

.social input {
	background-color: transparent;
	border: 1px solid #fff;
	padding: 4px 0 4px 30px;
}

.social i:not(.fa-search) {
	height: 27px;
	line-height: 27px;
	margin: 2px;
	text-align: center;
	vertical-align: middle;
	width: 24px;
}

/*==============================*\
HEADER PRIMARY PAGE NAVIGATION
\*==============================*/

/*====== MARCO POLO LOGO ========*/

.site-nav {
	height: 120px;
	position: fixed;
	top: 44px;
	width: inherit;
	z-index: 110;
}

.site-nav-logo { position: fixed; }

.site-nav h1 {
	color: #3c4c5d;
	display: inline-block;
	font-size: 2.4em;
	font-weight: 300;
	float: left;
	letter-spacing: -.1em;
	line-height: 118px;
	text-transform: uppercase;
}

.site-nav h1:first-letter {
	border: 5px solid #3c4c5d;
	border-radius: 50%;
	font-weight: 900;
	padding: 0 12px 0 6px;
	margin: 0 2px;
}

.site-nav span { font-weight: 700; }

.site-nav p {
	letter-spacing: .02em;
	position: absolute;
	top: 75px;
	left: 65px;
	font-size: .8em;
}

/*====== PRIMARY NAV ========*/

.site-nav nav {
	text-align: right;
	line-height: 120px;
}

.site-nav li {
	display: inline-block;
}

.site-nav a {
	color: #757575;
	padding: 8px 24px;
}

/*==============================*\
HERO 
\*==============================*/

.hero { height: 1014px; position: relative; }
/* this relevant to its parent - need to add fixed */
/* heights to restablish original content flow position */

.hero-description {
	color: #fff;
	float: right;
	font-weight: 400;
	padding-top: 45%;
	text-transform: capitalize;
	width: 45%;
}

.hero-description p {
	font-size: 2.1em;
	line-height: 1.3em;
	padding-bottom: 1em;
}

.hero-description button {
	background: transparent;
	border: 2px solid #fff;
	border-radius: 5px;
	height: 60px;
	margin: 8px;
	width: 210px;
}

.hero > p {
	position: absolute;
	bottom: 30px;
	color: #fff;
	font-size: 2.1em;
	text-align: center;
	width: 100%;
}

.hero i {
	border: 4px solid #fff;
	border-radius: 50%;
	margin: 0 6px;
	padding: 6px 12px;
}

/*==============================*\
ARTICLE GENERAL STYLES
\*==============================*/

.article-main h2 {
	text-align: center;
	font-size: 2.4em;
	font-weight: 400;
	padding-top: 96px;
	padding-bottom: 1em;
	text-transform: capitalize;
}

.article-main p { font-size: 1.375em; margin-top: .75em; }

.article-main hr {
	border-top: 3px solid rgba(117, 117, 117, 0.3);
	display: inline-block;
	vertical-align: middle;
	width: 15%;
}

/*==============================*\
SECTION - OUR SERVICES
\*==============================*/

.our-services {
	height: 897px;
	text-align: center;
}

.our-services i {
	line-height: 1.9em;
	vertical-align: middle;
}

.our-services li > p { font-size: .9em; line-height: 1.4em; }

.our-services li {
	display: inline-block;
	float: left;
	padding: 1.5em;
	width: 25%;
}

.our-services li > i {
	border: 3px solid red;
	margin: .75em;
	height: 54px;
	width: 54px;
}

.our-services li > h3 {
	font-size: 1.4em;
	padding-bottom: 1.375em;
	text-transform: capitalize;
}

.our-services li > hr {
	margin: 0 auto 1.375em;
	border: 3px solid red;
}

/*==============================*\
SECTION - FEATURED WORK 
\*==============================*/

.featured-work {
	height: 645px;
	position: relative;
	text-align: center;
}

.featured-work p {
	width: 80%;
	line-height: 28px;
	margin: 28px auto;
}

.featured-work li { display: inline-block; }

.fwork {
	height: 250px;
	position: absolute;
	top: 2208px;
}

.fwork li {
	background-size: cover;
	display: inline-block;
	height: 250px;
	float: left;
	max-height: 300px;
	width: 20%;
}

.fwork-1 { background: url(../img/Marco-Polo_02.png) center center no-repeat; }
.fwork-2 { background: url(../img/Marco-Polo_03.png) center center no-repeat;; }
.fwork-3 { background: url(../img/Marco-Polo_04.png) center center no-repeat;; }
.fwork-4 { background: url(../img/Marco-Polo_05.png) center center no-repeat;; }
.fwork-5 { background: url(../img/Marco-Polo_06.png) center center no-repeat;; }

.volumebar { position: relative; left: 20px;}

.featured-work input {
	background-color: #757575;
	border-radius: 30px;
	position: relative;
	top: 295px;
	width: 230px;
	box-shadow: inset 2px 6px 8px #000;
}

.featured-work button {
	background: #e64054;
	border-radius: 50%;
	border: 4px solid #3c4c5d;
	position: relative;
	width: 32px;
	height: 32px;
	top: 302px;
	left: -180px;
}


/*==============================*\
SECTION - ABOUT US
\*==============================*/













/*==============================*\
RESET AND STYLES
\*==============================*/













/*==============================*\
RESET AND STYLES
\*==============================*/















/*==============================*\
RESET AND STYLES
\*==============================*/
















/*==============================*\
RESET AND STYLES
\*==============================*/















/*==============================*\
RESET AND STYLES
\*==============================*/














/*==============================*\
RESET AND STYLES
\*==============================*/